* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black
}

.scroll {
    overflow-y: auto;
    height: calc(100vh - 130px);
}

/* QUI INIZIA L'HEADER */

.container-header {
    width: 100%;
}

.row-header {
    display: flex;
}

.col-100-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.content-header {
    margin: 30px;
}

.speaker,
.zoom {
    font-size: 25px;
    background-color: grey;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 15px;
}

.zoom {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
}


/* QUI INIZIA IL MAIN */

.container-main {
    width: 80%;
    margin: 0 auto;
}

.row-main {
    display: flex;
    flex-wrap: wrap;
}

.col-14 {
    width: calc(100% / 7);
    min-width: 100px;
}

.content-main {
    margin: 10px;
    height: 200px;
    background-image: url(https://picsum.photos/id/237/536/354);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 15px;
    align-content: flex-end;
}

.container-main i {
    background-color: rgba(0, 0, 0, 0.589);
    padding: 15px;
}

/* QUI INIZIA IL FOOTER */

footer {
    height: 130px;
    width: 100%;
    background-color: rgb(34, 33, 34)
}

.row-footer {
    height: 100%;
    width: 100%;
    display: flex;
}

/* COLONNA DI SINISTRA */
.col-20.left {
    width: 20%;
    display: flex;
}

.col-60 {
    width: 60%;
    display: flex;
    padding-left: 100px;
}

.col-20.right {
    width: 20%;
}

.content-mic {
    font-size: 40px;
    color: white;

}

.content-mute {
    color: white;
    font-size: 25px;
}

.content-cam {
    font-size: 40px;
    color: white;
    margin-left: 20px;
}

.content-stop {
    color: white;
    font-size: 25px;
}

.col-50-left {
    height: 130px;
    width: 50%;
    margin-left: 40px;

    align-content: center;
    justify-content: right;
}

.col-50-right {
    height: 130px;
    width: 50%;

    align-content: center;
}

.fa-angle-up {
    color: white;
    left: 50px;
    top: 60px;
    font-size: 20px;
}

.angle2 {
    left: 100px;
}

/* COLONNA CENTRALE */

.content-center {
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin: 20px;
}

.fa-user-group {
    padding-left: 80px;
}

.details {
    font-size: 25px;
}

.fa-share-from-square {
    color: lightgreen;
    padding-left: 40px;
}

.fa-windows {
    padding-left: 40px;
}

/* COLONNA DI DESTRA */
.content-right {
    font-size: 25px;
    color: white;
    justify-content: right;
    background-color: rgb(74, 74, 74);
    padding: 50px 0;
    text-align: center;
}